{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->


<div class="card">
    <!--Displays error message if applicable-->
    {%if error == True%}
    <div class="alert alert-danger" role="alert">
        Error: The form you submitted was invalid
    {%endif%}


    <!-- Takes in the data to create a movie rating-->
    <form action="/movies" class="card-body" method="POST">
        <!--Takes the input of the name of the movie-->
        <div class="form-group p-2">
            <label for="movie_title">Movie Title:</label>
            <input type="text" name="movie_title" required class="form-control"
                placeholder="Enter the name of the movie">
        </div>

        <!--Takes the input of the director of the movie-->
        <div class="form-group p-2">
            <label for="movie_director">Director:</label>
            <input type="text" name="movie_director" required class="form-control"
                placeholder="Enter the director of the movie">
        </div>

        <!--Takes the rating of the movie-->
        <div class="form-group p-2">
            <label for="movie_rating">Rating (1 to 5):</label>
            <input type="number" name="movie_rating" min="1" max="5" required class="form-control"
                placeholder="Rate the movie">
        </div>

        <!--Submit button-->
        <div class="form-group p-2">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
</div>
</form>
{% endblock %}