{% extends '_layout.html' %}

{% block title %}Movie Rating App | Movie{% endblock %}

{% block body %}
<h1 class="mb-5">Information for <em>{{movie_title}}</em></h1>


<h2>Director</h2>
<p>{{movie_director}}</p>


<h2>Rating</h2>
<p>{{movie_rating}}/5</p>

<!--movies/<int:movie_id>/delete-->
<!--/movies/<int:movie_id>/edit-->

<h2>Actions</h2>

<div class="row justify-content-start">
    <div class="col-auto">
        <form method="get" action="/movies/{{ movie_id }}/edit">
            <button type="submit" class="btn btn-outline-primary m-2">Edit Information</button>
        </form>
    </div>
    <div class="col-1">
        <form method="post" action="/movies/{{ movie_id }}/delete">
            <button type="submit" class="btn btn-danger m-2">
                <img class="img-responsive center-block" src="/static/trashcan.svg" alt="Delete" height="24px">
            </button>
        </form>
    </div>
</div>




{% endblock %}
 