{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Movie</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for key in moviedict %}  
      <tr>
        <td><a href="/movies/{{moviedict[key].movie_id}}" >{{moviedict[key].title}}</a> </td>
        <td>{{moviedict[key].rating}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<!-- TODO: Feature 1 -->
{% endblock %}
